.content {
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 175px;
    height: 68px;
    padding: 20px;
}

.btn {
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    width: 35%;
    padding: 14px 60px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: 700;
}

.startBtn {
    margin-top: 35px;
    background-color: #ff6fff;
}

.startBtn:hover {
    background-color: #c21e56;
}

.startBtn:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.addButton {
    width: 50px;
    height: 50px;
}

.canvas-container {
    margin: 0 auto;
    margin-top: 10px;
}

.controls {
    padding: 20px;
    text-align: center
}

.filters {
    display: inline-block;
    margin-top: 10px;
}

.filterStrength {
    padding: 10px;
}

.filterButton {
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 20px;
}

.filterButton:hover {
    opacity: 0.2;
}

.filterButton:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.uploadButton::-webkit-file-upload-button {
    text-align: center
}

.downloadJpgBtn {
    background-color: #1E90FF;
}

.downloadPngBtn {
    background-color: #BA55D3;
}

.downloadPngBtn:hover {
    background-color: #8b32a1;
}

.downloadJpgBtn:hover {
    background-color: #2a52be;
}

.downloadJpgBtn:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.downloadPngBtn:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}